build/
nob
nob.old
sdk
sdk.old
reference/SDL2/
*.tga
*.png
screenshot*
assets/cspromod_b105/
assets/materials/cspromod/
assets/materials/models/props/
assets_compressed/
openarena_assets_compressed.7z
openarena_src/
openarena_assets/
oa_compressed/
openarena_compressed.7z
